{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-6">
                    <h4 class="card-title">Add revision</h4>
                        <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Tool</label>
                            {% render_field form.tool class+="form-control" %}
                        </div>
                        <div class="form-group">
                            <label>Test Engineer</label>
                            {% render_field form.test_engineer class+="form-control" %}
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            {% render_field form.date class+="form-control" type="date" %}
                        </div>
                        
                        <div class="form-group">
                            <label>Result</label>
                            <div class="col-sm-2">
                            {% for choice in form.result %}
                                <div class="custom-control custom-radio">
                                    {{ choice.tag }}
                                    <label style="padding-left: 10; margin-top: -5" class="custom-control-label" for="customRadio1">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            {% render_field form.location class+="form-control" %}
                        </div>
                        <div class="form-group">
                            <label>Class</label>
                            {% render_field form.classID class+="form-control" type="number" %}
                        </div>
                        <div class="form-group">
                            <label>Visual Check</label>
                            <div class="col-sm-2">
                            {% for choice in form.visual_check %}
                                <div class="custom-control custom-radio">
                                    {{ choice.tag }}
                                    <label style="padding-left: 10; margin-top: -5" class="custom-control-label" for="customRadio1">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Earth</label>
                            {% render_field form.earth class+="form-control" type="number" %}
                        </div>
                        <div class="form-group">
                            <label>Leakage</label>
                            {% render_field form.leakage class+="form-control" type="number" %}
                        </div>
                        <div class="form-group">
                            <label>Insulation</label>
                            {% render_field form.insulation class+="form-control" type="number" %}
                        </div>
                        <div class="form-group">
                            <label>Function Check</label>
                            <div class="col-sm-2">
                            {% for choice in form.function_check %}
                                <div class="custom-control custom-radio">
                                    {{ choice.tag }}
                                    <label style="padding-left: 10; margin-top: -5" class="custom-control-label" for="customRadio1">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Comment</label>
                            {% render_field form.comment class+="form-control" type="number" %}
                        </div>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                        <button type="button" class="btn btn-dark" onclick="window.history.back();">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}